@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Noto+Sans+Nandinagari&family=Roboto&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


/*-HEADER-*/

header{
    background-color: #1A0930;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    padding: 5px 6%;
}


.logo img {
    height: 100px;
    width: auto;
    transition: all 0.3s;
    padding-top: 10px;
}

.logo img:hover{
    transform: scale(1.2)
}

header nav ul {
    list-style: none;
}

header nav ul li{
    display: inline-block;
    padding:  0 20px;
    margin-top: 20px;
}

header nav ul li:hover{
    transform: scale(1.2);
}

header nav ul a{
    font-size: 700;
    color: white;
    text-decoration: none;
}

header nav ul li a:hover{
    color: rgb(36, 128, 151);
}

.btn button{
    font-weight: 700;
    color: #1A0930;
    padding: 9px 25px;
    background: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s;
    margin-right: 30px;
}

.btn button:hover{
    background-color:rgb(36, 128, 151) ;
    transform: scale(1.1);
}


/*carrousel*/

#carousel1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }


.carousel-caption{
    background-color: rgba(26, 9, 48, 0.75);
    width: 100%;
    left: 0;
    bottom: 0;
}
.carousel-caption h5{
    font-size: 20px;
    padding-bottom: 20px;
}

#carouselExampleCaptions {
    width: 85%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.75);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow: hidden;
    }
  
  

/*MAIN-INDEX-EVENTOS*/
.eventos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 6.5%;

  }
  
  .eventos h2 {
    margin: 20px;
    font-weight: 700;
  }

  .btn2 button{
    font-weight: 500;
    color: white;
    padding: 9px 25px;
    background: #1a0930;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s;
    margin-right: 30px;
}

.btn2 button:hover{
    background-color:rgb(36, 128, 151) ;
    transform: scale(1.1);
}



    /*--MAIN INDEX EVENTOS GRILLA*/

    .eventosImg{
        width: 84%;
        height: 84%;
        margin: auto;
        padding: 40px 0;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 60px;
    }
    
    .card{
        border-radius: 10px;
        min-height: 500px;
        font-weight: bold;
        padding: 20px;
        position: relative;
        overflow: hidden;
        background-size: cover;
        background-position: center center;
    }
    
    .textos{
        height: 100%;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    
    }

    
      /*--MAIN-INDEX-NOVEDADES--*/

.novedades {
    margin: 20px;
    margin-left: 7.5%;
}

.novedadesImg {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
    grid-gap: 30px;
    width: 87%;
    margin-left: 6.5%;
}

.galeria_novedad {
    position: relative;
    border-radius: 10px;
}

.novedadesImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 1);
}

.galeria_titulo {
    position: absolute;
    bottom: 0;
    color: white;
    background-color: rgba(26, 9, 48, 0.75);
    width: 100%;
    margin: 0;
    height: 20%;
    font-size: 30px;
    border-radius: 10px;
}

.galeria_novedad:nth-child(1) {
    grid-row-start: span 2;

}

.galeria_novedad:nth-child(4) {
    grid-column-start: span 2;

}

    /*MAIN-EVENTOS*/

.evento2 {
    margin-bottom: 30px;
}


    /*MAIN-NOVEDADES*/

.noticia2{
    padding-left: 7%;
    padding-right: 7.5%;
}

.arctic {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .arctic img {
    width: 400px;
    margin: 20px;
    border: 2px solid black;
  }

  .arctic p {
    font-size: 30px;
    margin-top: -80px;
  }

  /*-MAIN-AGENDA*/

  .agenda2 {
    margin: 20px;
    margin-left: 7.5%;
    margin-right: 7.5%;
}

.agenda{
    margin-left: 1%;
}

/*-MAIN-NOSOTROS*/

.nosotros {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    margin: 80px;
  }

.nosotros2{
    padding-left: 10%;
    padding-right: 10%;
}

  .arctic2 {
    overflow: hidden;
  }
  .arctic2 img {
    float: right;
    width: 400px;
    margin: 20px;
    border: 2px solid black;
  }

  .arctic2 p {
    font-size: 30px;
    margin-top: 100px;
  }


    /*--footer*/

footer{
    height: 150px;
    background-color: #1A0930;
    
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer div img, .footer div h3 {
  display: inline-block;
  vertical-align: middle;
}

.logo{
    width: 200px;
    margin: 20px;
    margin-left: 50px;
}

.tyc h3{
    font-size: 20px;
    color: white;
    margin-left: 50px;
}

.redes{
    margin: 20px;
    margin-right: 50px;
}
.redes img{
    filter: invert(100%);
    
    margin-left: 40px;
}