@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Noto+Sans+Nandinagari&family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/*Variables*/
@keyframes animacion-logo {
  0% {
    height: 100px;
    width: auto;
  }
  50% {
    height: 120px;
    width: auto;
  }
  100% {
    height: 100px;
    width: auto;
  }
}
/*-HEADER-*/
header {
  position: fixed;
  width: 100%;
  background-color: #1A0930;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  padding: 5px 12.5%;
  margin: auto;
  z-index: 999;
}
header .logo img {
  height: 100px;
  width: auto;
  padding-top: 10px;
  animation-name: animacion-logo;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-timing-function: ease-in;
}
header nav .nav__label, header nav .nav__input {
  display: none;
}
header nav .nav__menu {
  display: grid;
  grid-auto-flow: column;
  padding-top: 20px;
  gap: 3em;
}
header nav .nav__menu .nav__item {
  color: white;
  text-decoration: none;
  --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
}
header nav .nav__menu .nav__item:after {
  content: "";
  display: block;
  background: white;
  width: 90%;
  margin-top: 3px;
  height: 3px;
  clip-path: var(--clippy);
  transition: clip-path 0.3s;
}
header nav .nav__menu .nav__item:hover {
  --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

/*-main--index*/
/*carrousel*/
main {
  padding-top: 120px;
}

#carousel1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}
#carousel1 #carouselExampleCaptions {
  width: 85%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.75);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow: hidden;
}
#carousel1 #carouselExampleCaptions .carousel-caption {
  background-color: rgba(26, 9, 48, 0.75);
  width: 100%;
  left: 0;
  bottom: 0;
}
#carousel1 #carouselExampleCaptions .carousel-caption h5 {
  font-size: 20px;
  padding-bottom: 20px;
}

/*MAIN-INDEX-EVENTOS*/
.eventos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 11%;
}
.eventos h2 {
  margin: 10px;
  font-weight: 800;
}
.eventos .btn2 button {
  font-weight: 500;
  color: white;
  padding: 9px 25px;
  background: #1A0930;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s;
  margin-right: 30px;
}
.eventos .btn2 button:hover {
  background-color: rgb(36, 128, 151);
  transform: scale(1.1);
}

/*--MAIN INDEX EVENTOS GRILLA*/
.eventosImg {
  width: 75%;
  margin: auto;
  padding: 10px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}
.eventosImg .card {
  border-radius: 10px;
  height: 50vh;
  font-weight: bold;
  padding: 20px;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
}
.eventosImg .card:hover {
  transform: scale(1.06);
  cursor: pointer;
}
.eventosImg .card .textos {
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*--MAIN-INDEX-NOVEDADES--*/
.novedades {
  margin: 20px;
  margin-left: 12%;
}
.novedades h2 {
  margin: 10px;
  font-weight: 800;
}

.novedadesImg {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 20px;
  grid-gap: 30px;
  width: 78%;
  margin-left: 11%;
}
.novedadesImg .galeria_novedad {
  position: relative;
  border-radius: 10px;
}
.novedadesImg .galeria_novedad:hover {
  transform: scale(1.04);
  cursor: pointer;
}
.novedadesImg .galeria_novedad .galeria_titulo {
  position: absolute;
  bottom: 0;
  color: white;
  background-color: rgba(26, 9, 48, 0.75);
  width: 100%;
  margin: 0;
  height: 20%;
  font-size: 30px;
  border-radius: 10px;
}
.novedadesImg :nth-child(1) {
  grid-row-start: span 2;
}
.novedadesImg :nth-child(4) {
  grid-column-start: span 2;
}
.novedadesImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgb(0, 0, 0);
}

/*--noticias--*/
.noticia2 {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 30px;
}
.noticia2 .noticia {
  margin-left: 13%;
  flex: 1 1 100%;
  text-align: start;
}
.noticia2 .arctic {
  margin-left: 13%;
  margin-top: 30px;
  display: flex;
  align-items: center;
}
.noticia2 .arctic img {
  width: 500px;
  margin-right: 20px;
}
.noticia2 .arctic p {
  font-size: 30px;
}

.agenda2 {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 30px;
}
.agenda2 .agenda {
  margin-left: 13%;
  flex: 1 1 100%;
  text-align: start;
}
.agenda2 .arctic {
  margin-left: 13%;
  margin-top: 30px;
  display: flex;
  align-items: center;
}
.agenda2 .arctic img {
  width: 500px;
  margin-right: 20px;
}
.agenda2 .arctic p {
  font-size: 30px;
}

.nosotros {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 30px;
}
.nosotros .nosotros2 {
  flex: 1 1 100%;
  text-align: center;
  margin: 5% 0;
}
.nosotros .nosotros3 {
  margin-left: 13%;
  margin-top: 30px;
  display: flex;
  align-items: center;
}
.nosotros .nosotros3 img {
  width: 500px;
  margin-right: 20px;
}
.nosotros .nosotros3 p {
  font-size: 30px;
}
.nosotros .nosotros4 {
  margin-left: 13%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.nosotros .nosotros4 img {
  width: 500px;
  order: 2;
}
.nosotros .nosotros4 p {
  font-size: 30px;
  flex: 1 1 50%; /* Ocupa el 50% del ancho en dispositivos pequeños */
  order: 1; /* Cambia el orden para que el texto esté del lado izquierdo */
}

/*--footer*/
.footer {
  background-color: #1A0930;
  padding: 70px 0;
}
.footer .contenedor {
  max-width: 1500px;
  margin: 0 auto;
}
.footer .contenedor .footer-row {
  display: flex;
  flex-wrap: wrap;
}
.footer .contenedor .footer-row .logo2 {
  width: 25%;
  padding: 0 50px;
}
.footer .contenedor .footer-row .footer-link {
  width: 25%;
  padding: 0 15px;
}
.footer .contenedor .footer-row .footer-link h4 {
  font-size: 20px;
  color: white;
  margin-bottom: 25px;
  margin-left: 30px;
  font-weight: 500;
  border-bottom: 2px solid #00c3ff;
  padding-bottom: 5px;
  display: inline-block;
}
.footer .contenedor .footer-row .footer-link ul li a {
  font-size: 18px;
  color: white;
  text-decoration: none;
  display: block;
  margin-bottom: 15px;
  margin-left: 0;
  transition: all 0.3s ease;
}
.footer .contenedor .footer-row .footer-link ul li a:hover {
  color: #00c3ff;
  padding-left: 6px;
}
.footer .contenedor .footer-row .footer-link .redes-sociales a {
  display: inline-block;
  min-height: 40px;
  width: 40px;
  background-color: white;
  margin: 0, 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #1A0930;
  transition: all 0.5s ease;
}
.footer .contenedor .footer-row .footer-link .redes-sociales a:hover {
  background-color: #243892;
}

/*--politicas--*/
.politicas {
  background-color: #1A0930;
  margin: 5% 10%;
  color: rgb(226, 205, 205);
}
.politicas section {
  display: flex;
  align-items: center;
}
.politicas section button {
  width: 100px;
  height: 30px;
  border-radius: 10%;
  align-self: flex-start;
  margin-right: 10%;
}
.politicas section h1 {
  font-size: 30px;
}

@media (min-width: 50px) and (max-width: 750px) {
  /*--Header nav sandwich--*/
  header nav .nav__label {
    display: block;
    cursor: pointer;
    color: white;
  }
  header nav .nav__menu {
    position: fixed;
    top: 120px;
    bottom: 0;
    background: #1A0930;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    clip-path: circle(0 at center);
    transition: clip-path 1s ease-in-out;
  }
  .nav__input:checked + .nav__menu {
    background: #1A0930;
    clip-path: circle(100% at center);
    z-index: 100;
    padding: 0;
    margin: 0;
  }
  /*carousel*/
  #carousel1 {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  #carousel1 #carouselExampleCaptions {
    width: 100%;
  }
  #carousel1 #carouselExampleCaptions .carousel-caption {
    z-index: 999;
  }
  /*MAIN-INDEX-EVENTOS*/
  .eventos {
    padding: 4px 2%;
  }
  .eventos h2 {
    margin: 20px;
    font-weight: 600;
    font-size: 20px;
  }
  .btn2 button {
    font-weight: 400;
    font-size: 15px;
  }
  /*--eventos index grilla--*/
  .eventosImg {
    width: 90%;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .card {
    height: 35vh;
  }
  /*--Novedades index main--*/
  .novedades {
    margin-left: 5%;
  }
  .novedades_index {
    padding-bottom: 30px;
  }
  .novedades h2 {
    font-weight: 600;
    font-size: 20px;
  }
  .novedadesImg {
    padding: 0px;
    grid-gap: 20px;
    width: 90%;
    margin-left: 5%;
  }
  /*--Footer--*/
  .footer .contenedor .footer-row {
    text-align: center;
  }
  .footer .contenedor .footer-row .footer-link, .footer .contenedor .footer-row .logo2 {
    width: 100%;
    margin-bottom: 30px;
  }
}
@media (min-width: 751px) and (max-width: 1000px) {
  /* header*/
  header {
    padding: 5px 7%;
  }
  .logo img {
    padding-left: -20px;
  }
  .nav__menu a {
    font-size: 12px;
  }
  /*carousel*/
  #carousel1 {
    width: 100%;
  }
  .carousel-caption h5 {
    font-size: 15px;
  }
  /*MAIN-INDEX-EVENTOS*/
  .eventos {
    padding: 4px 6%;
  }
  .eventos h2 {
    margin: 20px;
    font-weight: 600;
    font-size: 20px;
  }
  .btn2 button {
    font-weight: 400;
    font-size: 15px;
  }
  /*--eventos index grilla--*/
  .eventosImg {
    width: 82%;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
  .card {
    height: 40vh;
  }
  #card2 {
    display: none;
  }
  /*--Novedades index--*/
  .novedades {
    margin-left: 9%;
  }
  .novedades_index {
    padding-bottom: 30px;
  }
  .novedades h2 {
    font-weight: 600;
    font-size: 20px;
  }
  .novedadesImg {
    padding: 0px;
    grid-gap: 20px;
    width: 80%;
    margin-left: 10%;
  }
  /*--footer--*/
  .footer {
    padding: 20px;
  }
  .contenedor {
    width: 100%;
  }
  .footer .contenedor .footer-row .footer-link h4 {
    font-size: 15px;
  }
  .footer .contenedor .footer-row .footer-link ul li a {
    font-size: 13px;
  }
  .footer .contenedor .footer-row .footer-link .redes-sociales a {
    min-height: 30px;
    width: 30px;
    line-height: 30px;
  }
}
@media (min-width: 1001px) and (max-width: 1440px) {
  .card {
    height: 40vh;
  }
  .eventosImg {
    gap: 20px;
  }
  .tyc h3 {
    display: inline;
  }
}

/*# sourceMappingURL=style.css.map */
