@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Noto+Sans+Nandinagari&family=Roboto&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


/*-HEADER-*/


header{
    background-color: #1A0930;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    padding: 5px 12.5%;
    margin: 0 auto;
}
 

.logo img {
    height: 100px;
    width: auto;
    transition: all 0.3s;
    padding-top: 10px;
}

.nav__label, .nav__input{
    display: none;
}

.nav__menu{
    display: grid;
    grid-auto-flow: column;
    padding-top: 20px;
    gap: 3em;
}


.nav__item{
    color: white;
    text-decoration: none;
    --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

.nav__item::after{
    content: "";
    display: block;
    background: white;
    width: 90%;
    margin-top: 3px;
    height: 3px;
    clip-path: var(--clippy);
    transition: clip-path .3s;
}

.nav__item:hover{
    --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

/*carrousel*/

  #carousel1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
  }


.carousel-caption{
    background-color: rgba(26, 9, 48, 0.75);
    width: 100%;
    left: 0;
    bottom: 0;
}
.carousel-caption h5{
    font-size: 20px;
    padding-bottom: 20px;
}

#carouselExampleCaptions {
    width: 85%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.75);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow: hidden;
    }


    /*MAIN-INDEX-EVENTOS*/

.eventos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 11%;

  }
  
  .eventos h2 {
    margin: 20px;
    font-weight: 700;
  }

  .btn2 button{
    font-weight: 500;
    color: white;
    padding: 9px 25px;
    background: #1a0930;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s;
    margin-right: 30px;
}

.btn2 button:hover{
    background-color:rgb(36, 128, 151) ;
    transform: scale(1.1);
}

    
    /*--MAIN INDEX EVENTOS GRILLA*/

.eventosImg{
    width: 75%;
    margin: auto;
    padding: 10px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.card{
    border-radius: 10px;
    height: 50vh;
    font-weight: bold;
    padding: 20px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
}

.textos{
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}


/*--MAIN-INDEX-NOVEDADES--*/


.novedades {
    margin: 20px;
    margin-left: 12%;
}

.novedadesImg {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
    grid-gap: 30px;
    width: 78%;
    margin-left: 11%;
}

.galeria_novedad {
    position: relative;
    border-radius: 10px;
}

.novedadesImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 1);
}

.galeria_titulo {
    position: absolute;
    bottom: 0;
    color: white;
    background-color: rgba(26, 9, 48, 0.75);
    width: 100%;
    margin: 0;
    height: 20%;
    font-size: 30px;
    border-radius: 10px;
}

.galeria_novedad:nth-child(1) {
    grid-row-start: span 2;

}

.galeria_novedad:nth-child(4) {
    grid-column-start: span 2;

}


/*--footer*/

.contenedor{
    max-width: 1500px;
    margin: 0 auto;
}

.footer {
    background-color: #1A0930;
    padding: 70px 0;
}

.footer-row{
    display: flex;
    flex-wrap: wrap;
}

.footer-link, .logo2{
    width: 25%;
    padding: 0 15px;
}

.footer-link h4{
    font-size: 20px;
    color: white;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid #00c3ff;
    padding-bottom: 5px;
    display: inline-block;
}

.footer-link ul li a {
    font-size: 18px;
    color: white;
    text-decoration: none;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
}

.footer-link ul li a:hover {
    color: #00c3ff;
    padding-left: 6px;
}

.redes-sociales a {
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: white;
    margin: 0, 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #1A0930;
    transition: all .5s ease;
}

.redes-sociales a:hover{
    background-color: #00c3ff;
}


@media (min-width: 50px) and (max-width: 750px){
   
    /*--Header nav sandwich--*/
 
     .nav__label{
         display: block;
         cursor: pointer;
         color: white;
         
     }
 
     .nav__menu{
         position: fixed;
         top: 120px;
         bottom: 0;
         background: #1A0930;
         width: 100%;
         left: 0;
         display: flex;
         justify-content: space-evenly;
         flex-direction: column;
         align-items: center;
         clip-path: circle(0 at center);
         transition: clip-path 1s ease-in-out;
     }
     .nav__input:checked + .nav__menu{
         background: #1A0930;
         clip-path: circle(100% at center);
 
     }
 
     /*carousel*/
 
     #carousel1{
         width: 100%;
         padding: 0;
         margin: 0;
     }
 
     #carouselExampleCaptions {
         width: 100%;}
 
 
 
     /*MAIN-INDEX-EVENTOS*/
 
     .eventos {
        padding: 4px 2%;
      }
      .eventos h2 {
        margin: 20px;
        font-weight: 600;
        font-size: 20px;
      }
      .btn2 button{
        font-weight: 400;
        font-size: 10px;
    }
 
     /*--eventos index grilla--*/
 
     .eventosImg {
        width: 90%;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
      }
      .card{
        height: 35vh;
        }

        /*--Novedades index main--*/
        
        .novedades {
            margin-left: 5%;
        }

        .novedades_index{
            padding-bottom: 30px;
        }
        
        .novedades h2{
            font-weight: 600;
            font-size: 20px;
        }
    
        .novedadesImg {
            padding: 0px;
            grid-gap: 20px;
            width: 90%;
            margin-left: 5%;
        }

    /*--Footer--*/

    .footer-row{
        text-align: center;
    }

    .footer-link, .logo2{
        width: 100%;
        margin-bottom: 30px;
    }

}




 @media (min-width: 751px) and (max-width: 1000px){
    
    /* header*/
    
    header{
        padding: 5px 7%;
    }
    .logo img{
        padding-left: -20px;
    }
    .nav__menu a{
        font-size: 12px;
    }

    /*carousel*/

    #carousel1{
        width: 100%;
    }

    .carousel-caption h5{
        font-size: 15px;
    }
    
    /*MAIN-INDEX-EVENTOS*/

    .eventos {
        padding: 4px 6%;
      }
      .eventos h2 {
        margin: 20px;
        font-weight: 600;
        font-size: 20px;
      }
      .btn2 button{
        font-weight: 400;
        font-size: 15px;
    }
    
    
    /*--eventos index grilla--*/

     .eventosImg{
        width: 82%;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }
    .card{
        height: 40vh;
    }
    #card2{
        display: none;
    }

    /*--Novedades index--*/
    
    .novedades {
        margin-left: 9%;
    }

    .novedades_index{
        padding-bottom: 30px;
    }
    .novedades h2{
        font-weight: 600;
        font-size: 20px;
    }

    .novedadesImg {
        padding: 0px;
        grid-gap: 20px;
        width: 80%;
        margin-left: 10%;
    }

    /*--footer--*/

    .footer {
        padding: 20px;
    
    }
    .contenedor{
        width: 100%;
    }
    
    .footer-link h4{
        font-size: 14px;
    }
    
    .footer-link ul li a{
        font-size: 12px;
    }

    .redes-sociales a{
        min-height: 30px;
        width: 30px;
        line-height: 30px;
    }
  
}



@media (min-width: 1001px) and (max-width: 1440px){
    
    .card{
        height: 40vh;
    }
    .eventosImg{
        gap: 20px;
    }

    .tyc h3{
        display: inline;
    }


}
