@keyframes animacion-logo{
    0%{
        height: 100px;
        width: auto;
    }
    50%{
        height: 120px;
        width: auto;
    }
    100%{
        height: 100px;
        width: auto;
    }
}